---
import CowsayScript from './Script.astro';
---

<div data-nosnippet>
    <pre
        tabindex="0"
        class="text-xs leading-[14px] bg-stone-100 dark:bg-stone-900 py-0 my-4 rounded-sm hidden md:block">
    <code class="p-5"><span class="flex">$ fortune <a href="https://github.com/maxieds/math-fortune-mod" target="_blank">math.fortunes</a> | cowsay -f <span id="cowsay-cow" /></span><span class="table m-auto" id="cowsay-whatHasBeenSaid" /></code></pre>
</div>
<CowsayScript />
