---
import FormattedDate from '@components/FormattedDate.astro';
import Tags from '@components/Tags.astro';
import Base from '@layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const filepath = `./src/pages/writing.astro`;
---

<Base title="Writing" filepath={filepath}>
    <section>
        <ul class="list-none p-0">
            {
                posts.map((post) => (
                    <li>
                        <div class="flex">
                            <FormattedDate date={post.data.pubDate} />
                            <a rel="prefetch" href={`/${post.slug}/`}>
                                {post.data.title}
                            </a>
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</Base>
