---
import FormattedDate from '@components/FormattedDate.astro';
import Base from '@layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Base title="Writing">
    <section>
        <ul class="list-none p-0">
            {
                posts.map((post) => (
                    <li class="flex">
                        <FormattedDate date={post.data.pubDate} />
                        <a rel="prefetch" href={`/${post.slug}/`}>
                            {post.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Base>
