---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
    <h2 class="text-2xl font-bold my-4">
        {SITE_TITLE}
    </h2>
    <nav class="block">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/writing">Writing</HeaderLink>
        <HeaderLink href="https://jiahua.photos">
            Art <span style="font-family: monospace">↗</span>
        </HeaderLink>
    </nav>
</header>
