---
import Barebones from './Barebones.astro';
import Footer from '@components/Footer.astro';
import Fortune from '@components/Fortune/Fortune.astro';
import Header from '@components/Header.astro';

const { title, description, pubDate, updatedDate, heroImage, filepath } =
    Astro.props;
---

<Barebones title={title} description={description} filepath={filepath}>
    <Header />
    <main>
        <slot />
    </main>
    <div class="grow"></div>
    <Fortune />
    <!-- spacer so the footer goes to the bottom -->
    <div class="grow"></div>
    <hr class="pb-5" />
    <center class="-mb-2"
        >here’s my <a href="https://github.com/jchen">github</a
        >, <a href="https://www.linkedin.com/in/~jc">linkedin</a>, <a
            href="https://instagram.com/jahachen">instagram</a
        >, <a href="https://discordapp.com/users/405941251775397899">discord</a>
        and <a href="https://keybase.io/jiahuac">keybase</a>.</center
    >
    <Footer filepath={Astro.props.filepath ?? Astro.props.file} />
</Barebones>
